.Identifier
.DS_Store                                                                                                                                               Zone.Identifier   


results/*
lightning_logs/

**/pretrain_data.csv
**/test.csv
**/train.csv
